@import "reset.css";
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothicA1-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

html{
    width:100%;
    height: 100%;
}
body{
    width: 100%;
    height: 1200px;
}


#background{
    width: 100%;
    height: 100%;
    background-color: rgb(245,245,245);
    display: flex;
    justify-content: center;
}

#wrapper{
    /* border: 1px solid black; */
    width: 900px;
    height: 1000px;
    margin: 5% 0px;
    box-shadow: 0px 0px 100px 15px;
    border-radius: 100px;
}

/** 헤더 디자인 */

#header{
    width: 100%;
    height: 20%;
    display: flex;
    
}
#left_header{
    width: 65%;
    display: flex;
    flex-direction: column;
}
#main_logo{
    width: 80%;
    height: 30%;
    margin: 10px 0px 0px 60px;
}
#left_header >h2{
    font-family: DungGeunMo,sans-serif,monospace;
    margin: 20px 0px 0px 25px;
    font-size: 50px;
    color: #129fce;
}
#left_header > p{
    font-family: GothicA1-Light;
    font-size: 25px;
    font-weight: 900;
    margin: 20px 0px 0px 25px;
    color: #333
}
#right_header{
    width: 35%;
    display: flex;
}
#right_header :nth-child(1){
    height: 55%;
    margin-top: 40px;
}

#right_header :nth-child(2){
height: 50%;
position: relative;
right: 50px;
margin: 100px 0px 0px;
}
/** 메인 본문  */

#container{
    width: 100%;
    height: 80%;
    display: flex;
}

/** 본문 왼쪽  */
#left_container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#left_container_wrapper{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #129fce6e 0px 0px 50px 10px;
    border-radius: 20px;
    margin-bottom: 200px;
}

#login_container{
    width: 90%;
    height: 60%;
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login_container > a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: rgba(133, 133, 133, 0.458);
    text-decoration: none;
    color: #010d10;
    font-size: 20px;
}
#login_container > a > img{
    width: 50%;
    position: relative;
    bottom: 1px;
    margin: 0px 15px 0px 0px;
}
#login_container > a:hover{
    background-color: rgba(99, 99, 99, 0.563);
}

#left_container_wrapper > h1,p{
    margin: 10px 0px;
}

/* * 본문 오른쪽 */
#right_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#right_container img{
    width: 70%;

    margin-left: 100px;
    border: 3px solid gray;
    border-radius: 50px;
    margin: 30px 0px;
}