table{ border-collapse: collapse; }

#wrap{ width: 100vh;}
.board_view{ width: 100%; border-top:2px solid #666; }
.board_view th, .board_view td{ border: 1px solid #efefef; padding: 5px; }
.board_view .board_content{ height: 200px; vertical-align: top; }

.btn{ text-align: center; display: inline-block; float: none; padding: 7px 10px; border: 1px solid #bbb; background-color: #efefef; }
.util_menu{ padding-top: 20px; }




#comment_img{
    width: 60px;
    height: 60px;
}