* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
}
.formStyle {
    margin: 40px 0px 0px;
    width: 40%;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.formStyle > h3 {
    margin: 20px 0px;
}
.error_msg {
    color: red;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3px;
    font-weight: 900;
    font-size: 8px;
}
#name_error {
    width: 100px;
    position: relative;
    bottom: 22px;
    left: 180px;
}
#gender_error {
    width: 100px;
    position: relative;
    bottom: 1px;
    left: 50px;
}
.log_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reg_box {
    width: 50%;
    height: 30px;
    margin: 5px 50px 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}

#name_input {
    width: 20%;
    height: 20px;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.email_box {
    width: 20%;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.phone_box {
    width: 19%;
    height: 22px;
    margin: 5px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
}
#introduce {
    width: 100%;
    box-sizing: border-box;
}

#btn_wrap {
    display: flex;
    justify-content: center;
}
#reg_btn {
    width: 100px;
    height: 30px;
    background-color: rgba(251, 190, 75, 0.874);
    margin: 5px 0px 5px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 900;
    font-size: 12px;
}

#reg_btn:hover{
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgb(255, 153, 11);
}

#reg_id {
    width: 50%;
    margin-right: 40px;
}

/** 멤버 리스트 */
#member_list_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 680px;
}
#member_list_wrap > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid bisque;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: bisque;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    margin: 15px 0px 0px;
}

#member_list_wrap > a:hover{
    border: 1px solid black;
    background-color:rgb(246, 199, 139);
}

#member_list_table > thead > tr > td {
    min-width: 125px;
    width: 125px;
    color: white;
    height: 50px;
    background-color: darkolivegreen;
    text-align: center;
}

#member_list_table > tbody > tr > td {
    text-align: center;
    border-bottom: 1px solid black;
}

#access_form {
    min-width: 310px;
    border: 2px solid black;
    width: 300px;
    margin: 100px 0px 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#access_form > button {
    margin: 10px 0px 0px;
    width: 120px;
    height: 40px;
}
.pw_check {
    box-sizing: border-box;
    width: 160px;
}
#confirm_form {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
}
#confirm_form > div {
    font-weight: 600;
    font-size: 20px;
    padding: 0px 0px 20px;
}

#confirm_form > ul > li {
    margin: 10px 0px;
}

#go_back {
    font-weight: bold;
    background-color: orange;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 140px;
    height: 40px;
    margin: 20px 0px 0px;
    text-align: center;
}

#del_btn {
    border-radius: 20px;
    background-color: gray;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 5px;
}

#confirm_form > span {
    font-weight: 600;
    margin: 20px 0px 0px;
}

.list_btn {
    text-decoration: none;
    font-size: 13px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.list_btn:hover {
    font-size: 13px;
    color: black;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#go_back:hover,#del_btn:hover{
    border: 1px solid black;
}
